<ion-header>
  <ion-toolbar>
    <ion-title>Spendwise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Dashboard</h2>

  @if (loading()) {
<!--    TODO add spinner-->
    <p>Loading...</p>
  }

  @if (error()) {
<!--    TODO improve the error UI-->
    <p style="color:red">{{ error() }}</p>
  }

  @if (dashboard()) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>This month</ion-card-title>
      </ion-card-header>

      <ion-card-content>
<!--        TODO improve the card UI-->
        <p>
          Total spent:
          <strong>{{ dashboard()?.totalSpent }} {{ dashboard()?.currency }}</strong>
        </p>

        <p>
          Remaining:
          <strong>{{ dashboard()?.remaining }} {{ dashboard()?.currency }}</strong>
        </p>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
